@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer

<span class="glyphicon glyphicon-plus plus-minus" id="md-btn" title="@Localizer["OpenHide"]"></span>
<h3 class="md-header plus-header">@Localizer["MarkdownHelp"]</h3>
<div class="md-help">
    <h4>@Localizer["Headers"]</h4>
    <p>@Localizer["HeadersDesc"]</p>
    <ul>
        <li>This is an H1
            =============

            This is an H2
            -------------
        </li>
        <li># This is an H1

            ## This is an H2

            ###### This is an H6
        </li>
    </ul>

    <h4>@Localizer["Emphasis"]</h4>
    <p>@Localizer["EmpDesc"]</p>
    <ul>
        <li>*italic*

            _italic_
        </li>
        <li>**bold**

            __bold__
        </li>
    </ul>

    <h4>@Localizer["Lists"]</h4>
    <p>@Localizer["ListsDesc"]</p>
    <ul>
        <li>*   Red
            *   Green
            *   Blue
        </li>
        <li>+   Red
            +   Green
            +   Blue
        </li>
        <li>-   Red
            -   Green
            -   Blue
        </li>
        <li>1.  Bird
            2.  McHale
            3.  Parish
        </li>
    </ul>

    <h4>@Localizer["Quotes"]</h4>
    <p>@Localizer["QuotesDesc"]</p>
    <ul>
        <li>&gt; This is a blockquote with some text.</li>
        <li>&gt; ## This is a header.
            &gt;
            &gt; 1.   This is the first list item.
            &gt; 2.   This is the second list item.
        </li>
    </ul>

    <h4>@Localizer["CodeBlocks"]</h4>
    <p>@Localizer["CodeDesc"]</p>
    <ul>
        <li>This is a normal paragraph

            &nbsp;&nbsp;&nbsp;&nbsp;This is a code block.
        </li>
        <li>```
            public static void main(String[] args) { 
            &nbsp;&nbsp;&nbsp;&nbsp;System.out.println("Hello world!"); 
            }
            ``` 
        </li>
        <li>`git commit -m "Commit message"`</li>
    </ul>

    <h4>@Localizer["LinksImgs"]</h4>
    <p>@Localizer["LinksDesc"]</p>
    <ul>
        <li><strong>Link: </strong>Click [here](https://google.com/) to visit Google.</li>
        <li><strong>Image: </strong>![alt text](link/to/image.png)</li>
    </ul>
</div>