@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject IStringLocalizer<CategoryLocalizer> CategoryResource
@{
    ViewData["Title"] = Localizer["Create"];

    List<SelectListItem> options = new List<SelectListItem>();
    foreach (var entry in CategoryResource.GetAllStrings())
    {
        options.Add(new SelectListItem { Value = entry.Name, Text = entry.Value });
    }
    options = options.OrderBy(x => x.Value).ToList();
}

<h2>@Localizer["CreateGuide"]</h2>
<link href="~/css/tags-input-beautifier.css" rel="stylesheet">
<script src="~/js/tags-input-beautifier.js"></script>
<script>
    UPLOADCARE_PUBLIC_KEY = '03f07bf8408eb92c146e';
    UPLOADCARE_LOCALE = '@Localizer["loc"]';
    UPLOADCARE_TABS = 'file camera url gdrive gphotos dropbox vk';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_CLEARABLE = true;
</script>
<script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.6.0/uploadcare.min.js"></script>

<hr />
<div class="row">
    <div class="col-md-7 create-fields">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuideName" class="control-label"></label>
                <input asp-for="GuideName" class="form-control" autocomplete="off" />
                <span asp-validation-for="GuideName" class="text-danger"></span><br />

                <label asp-for="Description" class="control-label">@Localizer["ShortDescription"]</label>
                @Html.TextAreaFor(model => model.Description, new {
               @class = "bs-textarea",
               rows = "5"
           })

                <label asp-for="Image" class="control-label">@Localizer["Image"]</label>
                <input id="image-url" asp-for="Image" hidden />
                <input type="hidden" role="uploadcare-uploader" name="content" data-images-only />
                @*<img src="" id="desc-img" />*@<br />

                <label class="control-label">@Localizer["Tags"]</label>
                <input name="tags" type="text" placeholder="@Localizer["Tags"]...">

                <label asp-for="Category" class="control-label">@Localizer["Category"]</label>
                <select name="category" asp-for="Category" asp-items="options" class="form-control" required>
                    <option disabled selected>---</option>
                </select>

            </div>
            <div id="step_holder" class="form-group">
                <div style="position: relative">
                    <hr />
                    <label class="control-label" style="display: block">@Localizer["Step"] 1</label>
                    <label asp-for="GuideSteps[0].Header" class="control-label">@Localizer["Title"]</label>
                    @Html.TextBoxFor(model => model.GuideSteps[0].Header, new { @class = "form-control", required = "" })

                    <label asp-for="GuideSteps[0].Content" class="control-label">@Localizer["Content"]</label>
                    <textarea class="bs-textarea mdhtmlform-md" data-mdhtmlform-group="0" rows="5"></textarea>
                    @Html.TextAreaFor(model => model.GuideSteps[0].Content, new {
                       @class = " mdhtmlform-html",
                       data_mdhtmlform_group = "0",
                       style = "display: none;"
                   })

                    <label class="control-label">@Localizer["Images"]</label>
                    <input id="images0" hidden name="GuideSteps[0].Images" />
                    <input type="hidden" id="multi0" name="content" data-images-only data-multiple />
                </div>
            </div>
            <button type="button" id="create_step" class="btn btn-success" value="Create step" 
                    style="margin-bottom: 10px" onclick="createStep('@Localizer["Step"]', '@Localizer["Header"]', 
                    '@Localizer["Content"]', '@Localizer["Images"]')">@Localizer["CreateStep"]</button>
            <hr />
            <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-default">@Localizer["BackToList"]</a>
        </form>
    </div>
    <div class="col-md-5">
        <partial name="_MarkdownHelpPartial" />
    </div>
    </div>
    <script>
        var tags = new TIB(document.querySelector('input[name="tags"]'), config = { alert: false });
    </script>
    <script src="/js/step_functions.js"></script>
    <script src="~/js/showdown.js"></script>
    <script src="~/js/mdhtmlform.js"></script>

    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
