@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@using System.Collections
@using System.Globalization
@using System.Resources
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@{
    ViewData["Title"] = Localizer["Create"];
    //ResourceManager rsc = new ResourceManager(typeof(CategoryLocalizer)); // doesnt work ffs

    //ResourceSet resourceSet = rsc.GetResourceSet(CultureInfo.CurrentUICulture, false, true);
    //List<string> options = new List<string>();
    //foreach (DictionaryEntry entry in resourceSet)
    //{
    //    options.Append(entry.Value);
    //}
}

<h2>@Localizer["CreateGuide"]</h2>
<link href="~/css/tags-input-beautifier.css" rel="stylesheet">
<script src="~/js/tags-input-beautifier.js"></script>

<hr />
<div class="row">
    <div class="col-md-7 create-fields">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuideName" class="control-label"></label>
                <input asp-for="GuideName" class="form-control" autocomplete="off"/>
                <span asp-validation-for="GuideName" class="text-danger"></span><br />
                <label asp-for="Description" class="control-label">@Localizer["ShortDescription"]</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "bs-textarea", rows = "5" })
                @*<label asp-for="Image" class="control-label">@Localizer["Image"]</label>
        @Html.TextBoxFor(model => model.Image, new { @class = "form-control"})*@
                <a href="#" id="upload_widget_opener">Upload image</a>
                <span class="glyphicon glyphicon-ok" style="display: none"></span>
                <input asp-for="Tags" name="tags" type="text">
                <script>
                    var tags = new TIB(document.querySelector('input[name="tags"]'));
                </script>
                <input id="image-url" asp-for="Image" hidden />
                @*<label id="url"></label>*@
            </div>
            <div id="step_holder" class="form-group">
                <div style="position: relative">
                    <hr />
                    <label class="control-label" style="display: block">@Localizer["Step"] 1</label>
                    <label asp-for="GuideSteps[0].Header" class="control-label">@Localizer["Title"]</label>
                    @Html.TextBoxFor(model => model.GuideSteps[0].Header, new { @class = "form-control", required = "" })
                    <label asp-for="GuideSteps[0].Content" class="control-label">@Localizer["Content"]</label>
                    <textarea class="bs-textarea mdhtmlform-md" data-mdhtmlform-group="0" rows="5"></textarea>
                    @Html.TextAreaFor(model => model.GuideSteps[0].Content, new {
                        @class = " mdhtmlform-html",
                        data_mdhtmlform_group = "0",
                        style = "display: none;"
                    })
                </div>
            </div>
            <button type="button" id="create_step" class="btn btn-success" 
                    value="Create step" style="margin-bottom: 10px" onclick="createStep()">@Localizer["CreateStep"]</button>
            <hr />
            <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
            <a asp-action="Index" class="btn btn-default">@Localizer["BackToList"]</a>
        </form>
    </div>
    <div class="col-md-5">
        <partial name="_MarkdownHelpPartial" />
    </div>
</div>



<script src="/js/step_functions.js"></script>
<script src="~/js/showdown.js"></script>
<script src="~/js/mdhtmlform.js"></script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
