@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject IStringLocalizer<CategoryLocalizer> CategoryResource
@{
    ViewData["Title"] = Localizer["Create"];

    List<SelectListItem> options = new List<SelectListItem>();
    foreach (var entry in CategoryResource.GetAllStrings())
    {
        options.Add(new SelectListItem { Value = entry.Name, Text = entry.Value });
    }
    options = options.OrderBy(x => x.Value).ToList();
}

<h2>@Localizer["CreateGuide"]</h2>
<link href="~/css/tags-input-beautifier.css" rel="stylesheet">
<script src="~/js/tags-input-beautifier.js"></script>

<hr />
<div class="row">
    <div class="col-md-7 create-fields">
        <form asp-action="Create">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="GuideName" class="control-label"></label>
                <input asp-for="GuideName" class="form-control" autocomplete="off" />
                <span asp-validation-for="GuideName" class="text-danger"></span><br />

                <label asp-for="Description" class="control-label">@Localizer["ShortDescription"]</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "bs-textarea", rows = "5" })

                <label asp-for="Image" class="control-label">@Localizer["Image"]</label>
                <input id="image-url" asp-for="Image" hidden />
                <a href="#" id="upload_widget_opener">Upload image</a>
                <span class="glyphicon glyphicon-ok" style="display: none"></span><br />
                <img src="" id="desc-img" />

                <label class="control-label">@Localizer["Tags"]</label>
                <input name="tags" type="text" placeholder="Tags...">

                <label asp-for="Category" class="control-label">@Localizer["Category"]</label>
                <select name="category" asp-for="Category" asp-items="options" class="form-control" required>
                    <option disabled selected>---</option>
                </select>

            </div>
            <div id="step_holder" class="form-group">
                <div style="position: relative">
                    <hr />
                    <label class="control-label" style="display: block">@Localizer["Step"] 1</label>
                    <label asp-for="GuideSteps[0].Header" class="control-label">@Localizer["Title"]</label>
                    @Html.TextBoxFor(model => model.GuideSteps[0].Header, new { @class = "form-control", required = "" })
                    <label asp-for="GuideSteps[0].Content" class="control-label">@Localizer["Content"]</label>
                    <textarea class="bs-textarea mdhtmlform-md" data-mdhtmlform-group="0" rows="5"></textarea>
                    @Html.TextAreaFor(model => model.GuideSteps[0].Content, new {
                        @class = " mdhtmlform-html",
                        data_mdhtmlform_group = "0",
                        style = "display: none;"
                    })
                </div>
            </div>
            <button type="button" id="create_step" class="btn btn-success"
                    value="Create step" style="margin-bottom: 10px" onclick="createStep()">
                @Localizer["CreateStep"]
                </button>
                <hr />
                <input type="submit" value="@Localizer["Create"]" class="btn btn-primary" />
                <a asp-action="Index" class="btn btn-default">@Localizer["BackToList"]</a>
            </form>
        </div>
        <div class="col-md-5">
            <partial name="_MarkdownHelpPartial" />
        </div>
    </div>
    <script>
        var tags = new TIB(document.querySelector('input[name="tags"]'), config = { alert: false });
    </script>
    <script src="/js/step_functions.js"></script>
    <script src="~/js/showdown.js"></script>
    <script src="~/js/mdhtmlform.js"></script>
    <script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>


    @section Scripts {
        @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
    }
