@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@{
    ViewData["Title"] = Html.DisplayFor(model => model.GuideName);
}

<div>
    <h2>@Html.DisplayFor(model => model.GuideName)</h2>
    <hr />
    <div class="row">
        <div class="col-xs-8 steps-wrap">
            @{int i = 0;
            string step = "";}
            @foreach (var item in Model.GuideSteps)
            {
                i++;
                step = "step" + i.ToString();
                <h2 id="@step" class="step-header">@item.Header</h2>
                <div class="step-content">@Html.Raw(item.Content)</div>
            }
        </div>
        <div class="col-xs-4 sidenav">
            @{i = 0;}
            <ol>
                @foreach (var item in Model.GuideSteps)
                {
                    i++;
                    step = "#step" + i.ToString();
                    <li><a href="@step">@item.Header</a></li>
                }
            </ol>
        </div>
    </div>
</div>
<script src="~/js/fixed-sidebar.js"></script>