@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = Html.DisplayFor(model => model.GuideName);
}
<link rel="stylesheet" href="~/css/comment.min.css" asp-append-version="true" />
<div>
    <h2 style="display: inline-block">@Html.DisplayFor(model => model.GuideName)</h2>
    @{IdentityUser owner = await UserManager.FindByIdAsync(Model.Owner);}
    <p class="owner-label">By @owner.UserName</p>
    <hr />
    @Html.DisplayFor(model => model.Description)
    @Html.DisplayFor(model => model.Image)
    <div class="row">
        <div class="col-xs-8 steps-wrap">
            @{int i = 0;
                string step = "";}
            @foreach (var item in Model.GuideSteps)
            {
                i++;
                step = "step" + i.ToString();
                <h2 id="@step" class="step-header">@item.Header</h2>
                <div class="step-content">@Html.Raw(item.Content)</div>
            }
        </div>
        <div class="col-xs-4 sidenav">
            @{i = 0;}
            <ol>
                @foreach (var item in Model.GuideSteps)
                {
                    i++;
                    step = "#step" + i.ToString();
                    <li><a href="@step">@item.Header</a></li>
                }
            </ol>
        </div>
    </div>
    <div class="comments">
        <div class="comment-wrap">
            <div class="photo">
                <div class="avatar" style="background-image: url('https://s3.amazonaws.com/uifaces/faces/twitter/dancounsell/128.jpg')"></div>
            </div>
            <div class="comment-block">
                <form action="">
                    <textarea name="" id="" cols="30" rows="3" placeholder="Add comment..."></textarea>
                </form>
            </div>
        </div>
    </div>
    <script src="~/js/fixed-sidebar.js"></script>
</div>