@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@{
    ViewData["Title"] = Localizer["Details"];
}

<h2>@Localizer["Details"]</h2>

<div>
    <h4>@Html.DisplayNameFor(model => model.GuideName)</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.GuideName)
        </dt>
        <dt>
            @Html.DisplayNameFor(model => model.GuideSteps)
        </dt>
        <dd>
            @Html.DisplayFor(model => model.GuideName)
        </dd>
        <dd>
            @Html.DisplayFor(model => model.GuideSteps.Count)
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model.GuideId">@Localizer["Edit"]</a> |
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>
