@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using GuideHaven.Areas.Identity.Data;
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject IHtmlLocalizer<CategoryLocalizer> CategoryLocalizer
@inject UserManager<ApplicationUser> userManager
@{
    ViewData["Title"] = Html.DisplayFor(model => model.GuideName);
}
<link rel="stylesheet" href="~/css/comment.css" />
<script src="~/js/signalr.min.js"></script>
<link href="~/css/tags-input-beautifier.css" rel="stylesheet">
@*<script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/1.3.5/jspdf.debug.js"></script>*@
@*<script src="~/js/tags-input-beautifier.js"></script>*@

<div id="content" style="position: relative">
    <h2 id="guide-name" style="display: inline-block"><strong>@Html.DisplayFor(model => model.GuideName)</strong></h2>
    <input id="guideId" hidden value="@Model.GuideId" />
    @{ApplicationUser owner = await userManager.FindByIdAsync(Model.Owner);}
    @if (Model.Owner == userManager.GetUserId(User) ||
       (User.Identity.IsAuthenticated && await userManager.IsInRoleAsync(await userManager.GetUserAsync(User), "Admin")))
    {
        <input id="admin" hidden value="admin"/>
    }
    <p class="owner-label">
        @Localizer["by"] @if (owner != null)
        {
            <a asp-controller="User" asp-action="Index" asp-route-name="@owner.UserName">@owner.UserName</a>
        }
        else
        {
            @Localizer["DeletedUser"]
        }
        @if ((await userManager.GetUserAsync(User) == owner && owner != null) ||
     (User.Identity.IsAuthenticated && await userManager.IsInRoleAsync(userManager.Users.First(x => x.UserName == User.Identity.Name), "Admin")))
        {
            <a asp-action="Edit" asp-route-id="@Model.GuideId" style="color: inherit;" title="@Localizer["Edit"]"><i class="icon-edit icon-large"></i></a>
        }
    </p>
    @*<label style="cursor: pointer" for="pdf-btn"><i class="icon-save"></i></label>
        <button id="pdf-btn" value="PDF" hidden></button>*@
    @*<a asp-action="Pdf" asp-route-id="@Model.GuideId"><i class="icon-save"></i></a>*@
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1"></label>
        <p id="rating-text">@Localizer["Rating"]: <span id="rating-number"></span> <i class="icon-star" style="color: #FFD700;"></i></p>
    </fieldset><br />
    <span class="details-date details-info" title="@Localizer["Created"]: @Model.CreationDate.ToString("HH:mm:ss dd.MM.yyyy")"><i class="icon-calendar"></i>  @Model.CreationDate.ToString("HH:mm dd.MM.yyyy")</span>
    <span class="details-category details-info" title="@Localizer["Category"]: @CategoryLocalizer[Model.Category]"><i class="icon-list"></i> @CategoryLocalizer[Model.Category]</span>
    <span class="details-views details-info" title="@Model.Views @Localizer["Views"]"><i class="icon-eye-open"></i>  @Model.Views </span>

    <form asp-action="SearchTags">
        <span class="tags details-tags">
            @foreach (var tag in Model.GuideTags)
            {
                <input asp-action="Index" asp-route-tag="@tag.TagId" type="submit" id="@tag.TagId" name="tag" value="@tag.TagId" hidden />
                <label for="@tag.TagId" class="tag">@tag.TagId</label>
            }
        </span>
    </form>
    <hr />
    <div class="row">
        <div class="alert alert-info alert-dismissible arrows-alert" style="display: none;">
            <a href="#" class="close" id="close-arrow-alert" data-dismiss="alert" aria-label="close">&times;</a>
            <strong><i class="icon-lightbulb"></i> @Localizer["Tip"]</strong> @Localizer["ArrowsTip"]
        </div>
        <div class="col-xs-8 steps-wrap">
            <div id="step0" class="step">
                <h2 class="step-header">@Localizer["Description"]</h2>
                @Html.DisplayFor(model => model.Description)
                <img src="@Html.DisplayFor(model => model.Image)" class="desc-img" />
            </div>
            @{
                int i = 0;
                string step = "";
            }
            @foreach (var item in Model.GuideSteps)
            {
                i++;
                step = "step" + i.ToString();
                <div id="@step" class="step">
                    <h2 id="header" class="step-header">@item.Header</h2>
                    <div class="step-content">@Html.Raw(item.Content)</div>
                    @if (item.Images != null)
                    {
                        string[] images = item.Images.Split(',');
                        @foreach (var img in images.Skip(1))
                        {
                            <img src="@img" class="step-img" />
                        }
                    }
                </div>
            }
        </div>
        <div class="mobile-nav">
            <button class="btn btn-primary" id="prev-btn" style="float:left"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
            <button class="btn btn-primary" id="next-btn" style="float:right">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
        <div class="col-xs-4 sidenav">
            @{i = 0;}
            <ol id="side-menu">
                <li class="sidenav-option"><a href="#step0" id="desc" onclick="focusOption(this, @i)">@Localizer["Description"]</a></li>
                @foreach (var item in Model.GuideSteps)
                {
                    i++;
                    step = "#step" + i.ToString();
                    <li class="sidenav-option"><a href="@step" onclick="focusOption(this, @i)">@item.Header</a></li>
                }
            </ol>
        </div>
    </div>
    <div class="comments">
        <strong>@Localizer["Comments"]:</strong><br />
        <div id="posted-comments"></div>
        @if (User.Identity.IsAuthenticated)
        {
            <div class="comment-wrap">
                <div class="comment-block comment-shadow">
                    <form action="post">
                        <textarea name="" id="comment-field" cols="30" rows="3" placeholder="@Localizer["AddComment"]"></textarea>
                    </form>
                </div>
            </div>
            <button type="submit" class="btn btn-info comment-btn" id="post-btn" disabled value="Send">@Localizer["Send"]</button>
        }
    </div>
</div>

<script src="~/js/details.js"></script>