@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject UserManager<IdentityUser> UserManager
@{
    ViewData["Title"] = Html.DisplayFor(model => model.GuideName);
}
<link rel="stylesheet" href="~/css/comment.css" />
<link rel="stylesheet" href="https://netdna.bootstrapcdn.com/font-awesome/3.2.1/css/font-awesome.css">
<script async src="~/js/details.js"></script>
<div>
    <h3 style="display: inline-block">@Html.DisplayFor(model => model.GuideName)</h3>
    @{IdentityUser owner = await UserManager.FindByIdAsync(Model.Owner);}
    <p class="owner-label">
        By @if (owner != null)
        {
            @owner.UserName
        }
        else
        {
            @Localizer["DeletedUser"]
        }
        @if ((await UserManager.GetUserAsync(User) == owner && owner != null) ||
          (User.Identity.IsAuthenticated && await UserManager.IsInRoleAsync(UserManager.Users.First(x => x.UserName == User.Identity.Name), "Admin")))
        {
            <a asp-action="Edit" asp-route-id="@Model.GuideId" style="color: inherit;"><i class="icon-edit icon-large"></i></a>
        }
    </p>
    <fieldset class="rating">
        <input type="radio" id="star5" name="rating" value="5" /><label class="full" for="star5" title="Awesome"></label>
        <input type="radio" id="star4" name="rating" value="4" /><label class="full" for="star4" title="Pretty good"></label>
        <input type="radio" id="star3" name="rating" value="3" /><label class="full" for="star3" title="Meh"></label>
        <input type="radio" id="star2" name="rating" value="2" /><label class="full" for="star2" title="Kinda bad"></label>
        <input type="radio" id="star1" name="rating" value="1" /><label class="full" for="star1" title="Awful"></label>
        <p id="rating-text"></p>
    </fieldset>
    <hr />
    <div class="row">
        <div class="col-md-8 steps-wrap">
            <div id="step0" class="step">
                <h2 class="step-header">@Localizer["Description"]</h2>
                @Html.DisplayFor(model => model.Description)
                @Html.DisplayFor(model => model.Image)
            </div>
            @{int i = 0;
                string step = "";}
            @foreach (var item in Model.GuideSteps)
            {
                i++;
                step = "step" + i.ToString();
                <div id="@step" class="step">
                    <h2 class="step-header">@item.Header</h2>
                    <div class="step-content">@Html.Raw(item.Content)</div>
                </div>
            }
        </div>
        <div class="mobile-nav">
            <button class="btn btn-primary" id="prev-btn" style="float:left"><span class="glyphicon glyphicon-chevron-left"></span> Back</button>
            <button class="btn btn-primary" id="next-btn" style="float:right">Next <span class="glyphicon glyphicon-chevron-right"></span></button>
        </div>
        <div class="col-md-4 sidenav">
            @{i = 0;}
            <ol>
                <li class="sidenav-option"><a href="#step0" id="desc" onclick="focusOption(this)">Description</a></li>
                @foreach (var item in Model.GuideSteps)
                {
                    i++;
                    step = "#step" + i.ToString();
                    <li class="sidenav-option"><a href="@step" onclick="focusOption(this)">@item.Header</a></li>
                }
            </ol>
        </div>
    </div>
    <div class="comments">  
        @Localizer["Comments"]:<br />
        <div id="posted-comments"></div>
        <div class="comment-wrap" style="margin-top: 3rem;">
            <div class="comment-block comment-shadow">
                <input id="guideId" hidden value="@Model.GuideId" />
                <form action="post">
                    <textarea name="" id="comment-field" cols="30" rows="3" placeholder="Add comment..."></textarea>
                </form>
            </div>
        </div>
        <button type="submit" class="btn btn-info comment-btn" id="post-btn" disabled value="Send">@Localizer["Send"]</button>
    </div>
</div>