@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@{
    ViewData["Title"] = Localizer["Edit"];
}

<h2>@Localizer["EditGuide"]</h2>
<hr />
<div class="row">
    <div class="col-md-4">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GuideId" />
            <div class="form-group">
                <label asp-for="GuideName" class="control-label"></label>
                <input asp-for="GuideName" class="form-control" />
                <span asp-validation-for="GuideName" class="text-danger"></span>
                @{int index = 0; }
                @foreach (var item in Model.GuideSteps)
                {
                    <label class="control-label" style="display: block">@Localizer["Step"] @(index + 1)</label>
                    <label asp-for="GuideSteps[index].Header" class="control-label"></label>
                    @Html.TextBoxFor(model => model.GuideSteps[index].Header, new { style = "display: block" })
                    <label asp-for="GuideSteps[index].Content" class="control-label"></label>
                    @Html.TextAreaFor(model => model.GuideSteps[index].Content, new { style = "display: block" })
                    index++;
                }
            </div>
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
        </form>
    </div>
</div>

<div>
    <a asp-action="Index">@Localizer["BackToList"]</a>
</div>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
