@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject IStringLocalizer<CategoryLocalizer> CategoryResource
@{
    ViewData["Title"] = Localizer["Edit"];
    int index = 0;

    ViewData["Title"] = Localizer["Create"];

    List<SelectListItem> options = new List<SelectListItem>();
    foreach (var entry in CategoryResource.GetAllStrings())
    {
        if (entry.Value != Model.Category)
        {
            options.Add(new SelectListItem { Value = entry.Name, Text = entry.Value });
        }
    }
    options = options.OrderBy(x => x.Value).ToList();
}

<h2>@Localizer["EditGuide"]</h2>

<script src="~/js/he.js"></script>
<script src="~/js/showdown.js"></script>
<script src="~/js/to-markdown.js"></script>
<script src="~/js/mdhtmlform.js"></script>
<link href="~/css/tags-input-beautifier.css" rel="stylesheet">
<script src="~/js/tags-input-beautifier.js"></script>
<script>var index = 0, visual_index = 0;</script>


<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GuideId" />
            <input type="hidden" asp-for="Owner" />
            <input type="hidden" asp-for="Views" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label asp-for="GuideName" class="control-label">@Localizer["Title"]</label>
                <input asp-for="GuideName" class="form-control" />
                <span asp-validation-for="GuideName" class="text-danger"></span>

                <label asp-for="Description" class="control-label">@Localizer["ShortDescription"]</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "bs-textarea", rows = "5" })

                @*<label class="control-label">@Localizer["Tags"]</label>
                <input name="tags" type="text" placeholder="Tags...">*@

                <label asp-for="Image" class="control-label">@Localizer["Image"]</label>
                <input id="image-url" asp-for="Image" hidden />
                <a href="#" id="upload_widget_opener">Upload image</a>
                <span class="glyphicon glyphicon-ok" style="display: none"></span><br />
                <img src="
                @if (Model.Image != null)
                {
                    @Model.Image
                }
                " id="desc-img" class="desc-img" />

                @*<input asp-for="Tags" name="tags" type="text">*@

                <label asp-for="Category" class="control-label">@Localizer["Category"]</label>
                <select name="category" asp-for="Category" asp-items="options" class="form-control">
                    <option selected>@Model.Category</option>
                </select>

                <div id="step_holder" class="form-group">
                    @for (int i = 0; i < Model.GuideSteps.Count; i++)
                    {
                        <script>
                            document.getElementById("step_holder").insertAdjacentHTML(
                                'beforeend', '<div id="step' + (index + 1) + '" style="position:relative">'
	                            + '<hr/><label id="step_count_' + index + '" class="control-label" style="display: block">Step ' + (visual_index + 1) + '</label>'
	                            + '<label class="control-label" for="GuideSteps_' + index + '__Header">Header</label>'
	                            + '<input type="text" id="GuideSteps_' + index + '__Header" name="GuideSteps[' + index + '].Header" class="form-control">'
                                + '<label class="control-label" for="GuideSteps_' + index + '__Content">Content</label>'

                                + '<textarea id="DummyArea' + index + '" class="bs-textarea mdhtmlform-md" data-mdhtmlform-group="' + index + '" rows="5">'
                                + toMarkdown(he.decode("@Model.GuideSteps[index].Content")) + '</textarea>'
                                + '<textarea id="GuideSteps_' + index + '__Content" name="GuideSteps[' + index + '].Content" '
                                + 'class="mdhtmlform-html" data-mdhtmlform-group="' + index + '" style="display: none"></textarea>'

                                + '<button type="button" class="btn-link delete-btn" value="Delete" onclick="deleteStep(' + (index + 1) + ')">'
                                + '<span class="glyphicon glyphicon-remove"></span></button></div >'
                            );
                            document.getElementById('GuideSteps_' + index + '__Header').value = he.decode('@Model.GuideSteps[index].Header');
                            index++;
                            visual_index++;
                        </script>
                        index++;
                    }
                    <script>
                        index--;
                        visual_index--;
                    </script>
                </div>
            </div>
            <button type="button" id="create_step" class="btn btn-success" value="Create step" style="margin-bottom: 10px" onclick="createStep()">Create step</button>
            <hr />
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
            <div>
                <a asp-action="Details" asp-route-id="@Model.GuideId">@Localizer["BackToGuide"]</a>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <partial name="_MarkdownHelpPartial" />
    </div>
</div>

<script>
    var tags = new TIB(document.querySelector('input[name="tags"]'), config = { alert: false });
    var arr = new Array();
    @foreach (var tag in Model.GuideTags)
    {
        @:arr.push("@tag.TagId");
    }
    tags.update(arr);
</script>
<script src="~/js/step_functions.js"></script>
<script src="//widget.cloudinary.com/global/all.js" type="text/javascript"></script>

@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
