@model GuideHaven.Models.Guide
@using Microsoft.AspNetCore.Mvc.Localization
@using Microsoft.Extensions.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@inject IStringLocalizer<CategoryLocalizer> CategoryResource
@{
    ViewData["Title"] = Localizer["Edit"];
    int index = 0;

    List<SelectListItem> options = new List<SelectListItem>();
    foreach (var entry in CategoryResource.GetAllStrings())
    {
        if (entry.Value != Model.Category)
        {
            options.Add(new SelectListItem { Value = entry.Name, Text = entry.Value });
        }
    }
    options = options.OrderBy(x => x.Value).ToList();
}

<h2>@Localizer["EditGuide"]</h2>
<script>
    UPLOADCARE_PUBLIC_KEY = '03f07bf8408eb92c146e';
    UPLOADCARE_LOCALE = '@Localizer["loc"]';
    UPLOADCARE_TABS = 'file camera url gdrive gphotos dropbox vk';
    UPLOADCARE_IMAGES_ONLY = true;
    UPLOADCARE_CLEARABLE = true;
</script>
<script src="~/js/he.js"></script>
<script src="~/js/showdown.js"></script>
<script src="~/js/to-markdown.js"></script>
<script src="~/js/mdhtmlform.js"></script>

<link href="~/css/tags-input-beautifier.css" rel="stylesheet">
<script src="~/js/tags-input-beautifier.js"></script>



<hr />
<div class="row">
    <div class="col-md-7">
        <form asp-action="Edit">
            <div asp-validation-summary="ModelOnly" class="text-danger"></div>
            <input type="hidden" asp-for="GuideId" />
            <input type="hidden" asp-for="Owner" />
            <input type="hidden" asp-for="Views" />
            <input type="hidden" asp-for="CreationDate" />
            <div class="form-group">
                <label asp-for="GuideName" class="control-label">@Localizer["Title"]</label>
                <input asp-for="GuideName" class="form-control" />
                <span asp-validation-for="GuideName" class="text-danger"></span>

                <label asp-for="Description" class="control-label">@Localizer["ShortDescription"]</label>
                @Html.TextAreaFor(model => model.Description, new { @class = "bs-textarea", rows = "5" })

                <label asp-for="Image" class="control-label">@Localizer["Image"]</label>
                <input id="image-url" asp-for="Image" hidden />
                <input type="hidden" role="uploadcare-uploader" name="content" data-images-only />
                <span class="glyphicon glyphicon-ok" style="display: none"></span><br />
                <img src="
                @if (Model.Image != null)
                {
                    @Model.Image
                }
                " id="desc-img" class="desc-img" />

                <label class="control-label">@Localizer["Tags"]</label>
                <input name="tags" type="text" placeholder="@Localizer[" Tags"]...">

                <label asp-for="Category" class="control-label">@Localizer["Category"]</label>
                <select name="category" asp-for="Category" asp-items="options" class="form-control">
                    <option selected>@Model.Category</option>
                </select>

                <div id="step_holder" class="form-group">
                </div>
            </div>
            <button type="button" id="create_step" class="btn btn-success" value="Create step" 
                    style="margin-bottom: 10px" onclick="createStep('@Localizer["Step"]', '@Localizer["Header"]', 
                    '@Localizer["Content"]', '@Localizer["Images"]')">@Localizer["CreateStep"]</button>
            <hr />
            <div class="form-group">
                <input type="submit" value="@Localizer["Save"]" class="btn btn-default" />
            </div>
            <div>
                <a asp-action="Details" asp-route-id="@Model.GuideId">@Localizer["BackToGuide"]</a>
            </div>
        </form>
    </div>
    <div class="col-md-5">
        <partial name="_MarkdownHelpPartial" />
    </div>
</div>

<script charset="utf-8" src="https://ucarecdn.com/libs/widget/3.6.0/uploadcare.min.js"></script>

<script src="~/js/step_functions.js"></script>
<script src="~/js/edit_functions.js"></script>
<script>
    var tags = new TIB(document.querySelector('input[name="tags"]'),
        config = {
            alert: false,
            update: function () {
                $(".tags").height($(".tags")[0].scrollHeight - 10);
            }
        });
    var arr = new Array();
    @foreach (var tag in Model.GuideTags)
    {
        @:arr.push(he.decode("@tag.TagId"));
    }
    tags.update(arr);
    widget.value('@Model.Image');
</script>

@for (int i = 0; i < Model.GuideSteps.Count; i++)
{
    string imgs = "";
    @if (Model.GuideSteps[index].Images != null)
    {
        imgs = Model.GuideSteps[index].Images.Split(',')[0];
    }
    <script>
        recreateSteps('@Localizer["Step"]', '@Localizer["Header"]', '@Localizer["Content"]', '@Localizer["Images"]',
            '@Model.GuideSteps[index].Header', '@Model.GuideSteps[index].Content', '@imgs');
    </script>

    index++;
}
<script>
    index--;
    visual_index--;
</script>


@section Scripts {
    @{await Html.RenderPartialAsync("_ValidationScriptsPartial");}
}
