@model IEnumerable<GuideHaven.Models.Guide>
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<GuideLocalizer> Localizer
@{
    ViewData["Title"] = Localizer["Index"];
}

<h2>@Localizer["Index"]</h2>

<p>
    <a asp-action="Create">@Localizer["CreateNew"]</a>
</p>
<table class="table">
    <thead>
        <tr>
            <th>
                @Localizer["Guide Name"]
            </th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model)
        {
            <tr>
                <td>
                    <a asp-action="Details" asp-route-id="@item.GuideId" >@Html.DisplayFor(modelItem => item.GuideName)</a>
                </td>
                <td>
                    <a asp-action="Edit" asp-route-id="@item.GuideId">@Localizer["Edit"]</a> |
                    <a href="#" data-toggle="modal" data-target="#@item.GuideId">@Localizer["Delete"]</a>

                    <div id="@item.GuideId" class="modal fade" role="dialog">
                        <div class="modal-dialog">
                            <div class="modal-content">
                                <div class="modal-header">
                                    <button type="button" class="close" data-dismiss="modal">&times;</button>
                                    <h4 class="modal-title">@Localizer["AreUSure"]</h4>
                                </div>
                                <div class="modal-body">
                                    <p>@Localizer["AreUSureMsg"] @Html.DisplayFor(modelItem => item.GuideName)? @Localizer["CannotBeUndone"].</p>
                                </div>
                                <div class="modal-footer">
                                    <button type="button" class="btn btn-default" data-dismiss="modal">@Localizer["NoDelete"]</button>
                                    <form asp-action="Delete" asp-route-returnUrl="@ViewContext.HttpContext.Request.Path" asp-route-id="@item.GuideId" method="post" style="display: inline-block;">
                                        <input type="submit" class="btn btn-danger" value="@Localizer["YesDelete"]" />
                                    </form>
                                </div>
                            </div>
                        </div>
                    </div>

                </td>
            </tr>
        }
    </tbody>
</table>
