@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model GuideHaven.Controllers.HomeController.InputModel

@if (!User.Identity.IsAuthenticated)
{
    <div class="banner">
        <div class="banner-inner">
            <h2>@Localizer["CreateNew"]</h2>
            <p>
                @Localizer["JoinToday"]
                <br />
                <br />
                @Localizer["AlreadyHaveAcc"] <a href="~/Identity/Account/Login">@Localizer["LogInHere"]</a>
            </p>
        </div>
        <form method="post" class="banner-form" asp-controller="Home" asp-action="Index">
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                @*<label asp-for="Email"></label>*@
                <input asp-for="Email" class="banner-input" placeholder="@Localizer["Email"]" />
                <span asp-validation-for="Email" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="UserName"></label>*@
                <input asp-for="UserName" class="banner-input" placeholder="@Localizer["Username"]" />
                <span asp-validation-for="UserName" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="Password"></label>*@
                <input asp-for="Password" class="banner-input" placeholder="@Localizer["Password"]" />
                <span asp-validation-for="Password" class="text-danger"></span>
            </div>
            <div class="form-group">
                @*<label asp-for="ConfirmPassword"></label>*@
                <input asp-for="ConfirmPassword" class="banner-input" placeholder="@Localizer["ConfPass"]" />
                <span asp-validation-for="ConfirmPassword" class="text-danger"></span>
            </div>
            <button type="submit" class="btn btn-banner">@Localizer["Register"]</button>
        </form>
    </div>
    @*<script>
            var date = new Date();
            date = new Date(date.getTime() + 1000 * 60 * 60 * 24 * 365);
            document.cookie = 'banner=shown;expires=' + date.toGMTString() + ';path=/';
        </script>*@
}