@{
    ViewData["Title"] = Localizer["Title"];
}

@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@using GuideHaven.Areas.Identity.Data;
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

@if (SignInManager.IsSignedIn(User))
{
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.css" rel="stylesheet" />
    <script src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-table/1.11.0/bootstrap-table.min.js"></script>
    <form method="post" name="toolbar" id="toolbar">
        <input asp-action="AddRole" asp-route-role="Banned" class="btn btn-default" type="submit" value="@Localizer["Ban"]" />
        <input asp-action="RemoveRole" asp-route-role="Banned" class="btn btn-default" type="submit" value="@Localizer["Unban"]" />
        <span class="btn-separator"></span>
        <input asp-action="AddRole" asp-route-role="Admin" class="btn btn-default" type="submit" value="@Localizer["GiveAdmin"]" />
        <input asp-action="RemoveRole" asp-route-role="Admin" class="btn btn-default" type="submit" value="@Localizer["RemoveAdmin"]" />
        <span class="btn-separator"></span>
        <input asp-action="DeleteUsers" class="btn btn-danger" type="submit" value="@Localizer["Delete"]" />

        <div class="table-responsive">
            <table class="table" data-toggle="table" data-sort-name="Username" id="users-table">
                <thead>
                    <tr>
                        <th scope="col"><input type="checkbox" value="Select all" id="checkAll" /></th>
                        <th scope="col" data-sortable="true" data-field="Username">@Localizer["Username"]</th>
                        <th scope="col" data-sortable="true" data-field="Email">@Localizer["Email"]</th>
                        <th scope="col" data-sortable="true" data-field="Admin">@Localizer["Admin"]</th>
                        <th scope="col" data-sortable="true" data-field="Status">@Localizer["Status"]</th>
                    </tr>
                </thead>
                <tbody>
                    @{int i = 0;}
                    @foreach (var user in UserManager.Users.ToList())
                    {
                        i++;
                        string name = user.UserName;
                        string email = user.Email;

                        <tr>
                            <td><input name="list" id="check-@i" class="check" type="checkbox" value="@name" /></td>
                            <td><a asp-controller="User" asp-action="Index" asp-route-user="@name">@name</a></td>
                            <td>@email</td>
                            @if (await UserManager.IsInRoleAsync(user, "Admin"))
                            {
                                <td><span class="glyphicon glyphicon-ok admin-user"></span></td>
                            }
                            else
                            {
                                <td><span class="glyphicon glyphicon-remove not-admin-user"></span></td>
                            }

                            @if (await UserManager.IsInRoleAsync(user, "Banned"))
                            {
                                <td>@Localizer["Banned"]</td>
                                <script>
                                document.getElementById("check-@i").classList.add("block");
                                </script>
                            }
                            else
                            {
                                <td>@Localizer["NotBanned"]</td>
                                <script>
                                document.getElementById("check-@i").classList.add("unlock");
                                </script>
                            }
                        </tr>
                    }
                </tbody>
            </table>
        </div>
    </form>
}
