@model GuideHaven.Controllers.UserController.ProfileModel
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@{
    ViewData["Title"] = "Index";
    bool self = User.Identity.Name == Model.User.UserName;
}

<h2 style="display: inline-block">@Localizer["RuProfile"] @Model.User.UserName@Localizer["EnProfile"]</h2>
@if (self)
{
    <a asp-area="Identity" asp-page="/Account/Manage/Index"><span class="glyphicon glyphicon-cog"></span> @Localizer["ManageProfile"]</a>
    <a asp-action="Create" asp-controller="Guide" class="btn btn-primary create-btn profile-btn">@Localizer["CreateGuide"]</a>
}
<div class="row">
    <div class="col-md-8">
        <h3>
            @if (self)
            { 
                @Localizer["YourGuides"]
            }
            else
            {
                @Localizer["UserGuides"]
            }
        </h3>
        @await Html.PartialAsync("../Home/_GuidesListPartial", Model.Guides,
            new ViewDataDictionary(this.ViewData) { { "mode", "l" } })
    </div>
    <div class="col-md-4">
        <h3>
            @if (self)
            {
                @Localizer["YourMedals"]
            }
            else
            {
                @Localizer["UserMedals"]
            }
        </h3>
        @if (Model.Medals != null)
        {
            foreach (var item in Model.Medals)
            {
                <div class="medal">
                    @*<div class="medal-img-container">*@
                    <img src="@item.Image" class="medal-img" />
                    @*</div>*@
                    <div class="medal-inner">
                        <h3>@Localizer[item.Name]</h3>
                        <p>@Localizer[item.Description]</p>
                    </div>
                </div>
            }
        }
    </div>
</div>
