@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model Disable2faModel
@{
    ViewData["Title"] = Localizer["Disable2faMsg"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.PartialAsync("_StatusMessage", Model.StatusMessage)
<h2>@ViewData["Title"]</h2>

<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["ThisActionDisables2fa"]</strong>
    </p>
    <p>
        @Localizer["ResetKeysPt1"] <a asp-page="./ResetAuthenticator">@Localizer["ResetKeysPt2"]</a>
    </p>
</div>

<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Localizer["Disable2fa"]</button>
    </form>
</div>
