@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model GenerateRecoveryCodesModel
@{
    ViewData["Title"] = Localizer["Generate2faCodes"];
    ViewData["ActivePage"] = ManageNavPages.TwoFactorAuthentication;
}

@Html.Partial("_StatusMessage", Model.StatusMessage)
<h4>@ViewData["Title"]</h4>
<div class="alert alert-warning" role="alert">
    <p>
        <span class="glyphicon glyphicon-warning-sign"></span>
        <strong>@Localizer["PutCodesInSafePlace"]</strong>
    </p>
    <p>
        @Localizer["IfYouLoseUrDevice"]
    </p>
    <p>
        @Localizer["ResetKeysPt3"] <a asp-page="./ResetAuthenticator">@Localizer["ResetKeysPt2"]</a>
    </p>
</div>
<div>
    <form method="post" class="form-group">
        <button class="btn btn-danger" type="submit">@Localizer["GenerateRecoveryCodes"]</button>
    </form>
</div>