@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model PersonalDataModel
@{
    ViewData["Title"] = Localizer["PersonalData"];
    ViewData["ActivePage"] = ManageNavPages.PersonalData;
}

<h4>@ViewData["Title"]</h4>

<div class="row">
    <div class="col-md-6">
        <p>@Localizer["AccContainsData"]</p>
        <p>
            <strong>@Localizer["DeleteWarning"]</strong>
        </p>
        <form asp-page="DownloadPersonalData" method="post" class="form-group">
            <button class="btn btn-default" type="submit">@Localizer["Download"]</button>
        </form>
        <p>
            <a asp-page="DeletePersonalData" class="btn btn-danger">@Localizer["Delete"]</a>
        </p>
    </div>
</div>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}