@using Microsoft.AspNetCore.Identity
@using Microsoft.AspNetCore.Mvc.Localization
@inject IViewLocalizer Localizer
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager
@using GuideHaven.Areas.Identity.Data;

@if (SignInManager.IsSignedIn(User))
{
    <form asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/Index", new { area = "" })"
          method="post" name="logoutForm" class="navbar-right">
        <ul class="nav navbar-nav navbar-right">
            <li>
                <a asp-controller="User" asp-action="Index" asp-route-name="@User.Identity.Name">
                    <span class="glyphicon glyphicon-user login-icon"></span> @Localizer["Hello"] @UserManager.GetUserName(User)!
                </a>
            </li>
            <li>
                @*<button type="submit" class="btn btn-link navbar-btn navbar-link">Logout</button>*@
                <a href="#" onclick="document.logoutForm.submit()"><span class="glyphicon glyphicon-off login-icon"></span><span>@Localizer["Logout"]</span></a>
            </li>
        </ul>
    </form>
}
else
{
    <ul class="nav navbar-nav navbar-right">
        <li><a asp-area="Identity" asp-page="/Account/Register"><span class="glyphicon glyphicon-user login-icon"></span> @Localizer["Register"]</a></li>
        <li><a asp-area="Identity" asp-page="/Account/Login"><span class="glyphicon glyphicon-log-in login-icon"></span> @Localizer["Login"]</a></li>
    </ul>
}
