@page
@using Microsoft.AspNetCore.Mvc.Localization
@inject IHtmlLocalizer<IdentityLocalizer> Localizer
@model LoginWith2faModel
@{
    ViewData["Title"] = Localizer["2fa"];
}

<h2>@ViewData["Title"]</h2>
<hr />
<p>@Localizer["2faProtected"]</p>
<div class="row">
    <div class="col-md-4">
        <form method="post" asp-route-returnUrl="@Model.ReturnUrl">
            <input asp-for="RememberMe" type="hidden" />
            <div asp-validation-summary="All" class="text-danger"></div>
            <div class="form-group">
                <label asp-for="Input.TwoFactorCode"></label>
                <input asp-for="Input.TwoFactorCode" class="form-control" autocomplete="off" />
                <span asp-validation-for="Input.TwoFactorCode" class="text-danger"></span>
            </div>
            <div class="form-group">
                <div class="checkbox">
                    <label asp-for="Input.RememberMachine">
                        <input asp-for="Input.RememberMachine" />
                        @Html.DisplayNameFor(m => m.Input.RememberMachine)
                    </label>
                </div>
            </div>
            <div class="form-group">
                <button type="submit" class="btn btn-default">@Localizer["LogIn"]</button>
            </div>
        </form>
    </div>
</div>
<p>
    @Localizer["Cant2faPt1"]
    <a asp-page="./LoginWithRecoveryCode" asp-route-returnUrl="@Model.ReturnUrl">@Localizer["Cant2faPt2"]</a>.
</p>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}